<div class="topnav lightSpeedIn">
  <a class="active lightSpeedIn" routerLink="/home">Home</a>
  <a class="topnav lightSpeedIn" routerLink="/adivina">Adivina el numero</a>
  <a class="topnav lightSpeedIn" routerLink="/ppt">Piedra papel tijera</a>
  <a class="topnav lightSpeedIn" routerLink="/trivia">Trivia Simpson</a>
  <a class="topnav lightSpeedIn" routerLink="/puntaje">Puntaje</a>
  <a class="topnav lightSpeedIn" routerLink="/acercade">Acerca de</a>
  <div class="topnav-right">
    <a routerLink="/">Salir</a>
  </div>
</div>
