<div class="topnav lightSpeedIn">
  <a class="active lightSpeedIn" routerLink="/home">Home</a>
  <a class="topnav lightSpeedIn" routerLink="/adivina">Adivina el numero</a>
  <a class="topnav lightSpeedIn" routerLink="/ppt">Piedra papel tijera</a>
  <a class="topnav lightSpeedIn" routerLink="/juego3">Juego 3</a>
  <a class="topnav lightSpeedIn" routerLink="/puntaje">Puntaje</a>
  <a class="topnav lightSpeedIn" routerLink="/acercade">Acerca de</a>
  <div class="topnav-right">
    <a routerLink="/" (click)="Salir()">Salir</a>
  </div>
</div>
