<div class="topnav">
  <a class="active" routerLink="">Home</a>
  <a class="topnav" routerLink="/adivina">Adivina el numero</a>
  <a class="topnav" routerLink="/ppt">Piedra papel tijera</a>
  <a class="topnav" routerLink="/juego3">Juego 3</a>
  <a class="topnav" routerLink="/puntaje">Puntaje</a>
  <a class="topnav" routerLink="/acercade">Acerca de</a>
  <div class="topnav-right">
    <a href="#" (click)="Salir()">Salir</a>
  </div>
</div>

<p-carousel headerText="Juegos" [value]="juegos">
  <!-- circular="!true" autoplayInterval="6000"> -->
  <ng-template let-juego pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <br>
        <!--  <h3> {{juego.nombre}} </h3>-->
          <a class="centrado" routerLink="{{juego.link}}">
            <img src="../assets/juegos/{{juego.imagen}}.jpg" width="260" height="250">
          </a>
        </div>
      </div>

    </div>
  </ng-template>
</p-carousel>