<app-login *ngIf="!logueado"></app-login>

<div *ngIf="logueado" class="topnav">
  <a class="active" routerLink="">Home</a>
  <div class="topnav-right">
    <a href="#" (click)="Salir()">Salir</a>
  </div>
</div>

<router-outlet *ngIf="logueado"></router-outlet>

<p-carousel headerText="Juegos" [value]="juegos" circular="!true" autoplayInterval="6000">
  <ng-template let-juego pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <br>
          <a routerLink="{{juego.link}}">
            <img src="../assets/juegos/{{juego.imagen}}.jpg" width="260" height="250">
          </a>
        </div>
      </div>

    </div>
  </ng-template>
</p-carousel>
