<app-menu></app-menu>

<table id="customers" class="tg rubberBand">
  <tr>
  <h3>Resumen puntajes de {{apodoJugador}} </h3> 
  </tr>
  <tr>
    <th class="tg-yw4l">Juego</th>
    <th class="tg-yw4l">Adivina</th>
    <th class="tg-yw4l">PPT</th>
    <th class="tg-yw4l">Juego3</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Puntaje Base</td>
    <td class="tg-yw4l"> {{puntos1Base}} </td>
    <td class="tg-yw4l"> {{puntos2Base}} </td>
    <td class="tg-yw4l"> {{puntos3Base}} </td>
  </tr>
  <tr>
    <td class="tg-yw4l">Puntajes de hoy</td>
    <td class="tg-yw4l"> {{puntos1Sesion}} </td>
    <td class="tg-yw4l"> {{puntos2Sesion}} </td>
    <td class="tg-yw4l"> {{puntos3Sesion}} </td>
  </tr>
  <tr>
    <td class="tg-yw4l">TOTAL</td>
    <td class="tg-yw4l"> {{puntos1Base+puntos1Sesion}} </td>
    <td class="tg-yw4l">{{puntos2Base+puntos2Sesion}} </td>
    <td class="tg-yw4l">{{puntos3Base+puntos3Sesion}} </td>
  </tr>
</table>