<app-menu></app-menu>
<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="../../../assets/acercade/js/jquery.min.js"></script>
    <script src="../../../assets/acercade/js/skel.min.js"></script>
    <script src="../../../assets/acercade/js/skel-layers.min.js"></script>
    <script src="../../../assets/acercade/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="../../../assets/acercade/css/skel.css" />
        <link rel="stylesheet" href="../../../assets/acercade/css/style.css" />
        <link rel="stylesheet" href="../../../assets/acercade/css/style-xlarge.css" />
    </noscript>
</head>

<body id="top">


    <!-- One -->
    <section id="one" class="wrapper style1">
        <header class="major">
            <h2>Sala de juegos</h2>
            <p>Portal de juegos con ranking de posiciones</p>
        </header>
        <div class="container">
            <div >
                <div class="4u bounceInDown">
                    <section class="special box">
                        <a  class="image fit">
                            <img src="../../../assets/acercade/images/01.jpg" alt="" />
                        </a>

                        <h3>Adivina el numero</h3>
                        <p>Un juego que pone a prueba tu habilidad y agilidad mental</p>
                    </section>
                </div>
                <div class="4u bounceInDown">
                    <section class="special box">

                        <a  class="image fit">
                            <img src="../../../assets/acercade/images/02.jpg" alt="" />
                        </a>
                        <h3>Piedra Papel o Tijera</h3>
                        <p>Un clasico que nunca pasa de moda</p>
                    </section>
                </div>
                <div class="4u bounceInDown">
                    <section class="special box">
                        <a  class="image fit">
                            <img src="../../../assets/acercade/images/03.jpg" alt="" />
                        </a>
                        <h3>Trivia Simpsons</h3>

                        <p>Cuanto sabes de esta famosisima seria animada?</p>
                    </section>
                </div>
            </div>
        </div>
    </section>


</body>

</html>