<app-menu></app-menu>

<p-growl [(value)]="msgs"></p-growl>
<div class="centrado">
  <a (click)="apostar(1)">
    <img src="../assets/ppt/piedra.gif" width="260" height="250">
  </a>

  <a (click)="apostar(2)">
    <img src="../assets/ppt/papel.gif" width="260" height="250">
  </a>

  <a (click)="apostar(3)">
    <img src="../assets/ppt/tijera.gif" width="260" height="250">
  </a>
</div>

<table id="customers" class="tg rubberBand">
  <tr>
    <th class="tg-031e" colspan="5">Resumen Partidas</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Jugadas</td>
    <td class="tg-yw4l">Ganadas</td>
    <td class="tg-yw4l">Perdidas</td>
    <td class="tg-yw4l">Empatadas</td>
    <td class="tg-yw4l">Puntaje</td>
  </tr>
  <tr>
    <td class="tg-yw4l"> {{jugadas}} </td>
    <td class="tg-yw4l"> {{ganadas}} </td>
    <td class="tg-yw4l">{{perdidas}} </td>
    <td class="tg-yw4l">{{empatadas}} </td>
    <td class="tg-yw4l">{{puntaje}} </td>
  </tr>
</table>

<button (click)="AgregarPuntos()" >agregar puntos</button>